/****************** Selector Tags ************************/
div {
  margin: 0;
  padding: 0.3125rem;
}
header {
  margin-top: 0;
  margin-bottom: 0;
}
table{
  opacity: .85;
  text-align: left;

}

td{
  border-width: 5px;
  border-style: solid;
  border-color: #eeee;
  padding: 5px;
}
th{
  text-align: center;
}


/* **************Site Wide Stuff**************** */
a {
  color: #cdac81;
  font-size: 20px;
  font-family: serif;

}
body {
  position: relative;
  margin: 0;
  font-family: serif;

  background-image: url('https://i.imgur.com/Yr32yur.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  padding-top: 10px;
  background-attachment: fixed;
}
.NavBar{
  background-color: #00303f;
  text-align: right;
  font-family: serif;
  font-size: 1.25rem;
  right: 0;
  top: 2%;
  padding-right: 10px;
}
nav{
  background-color: #eeee;
  border-color: #eeee;
  text-align: right;
}
h1{
  text-align: center;
}

/****************** Opening Page ************************/
.opening-page{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.clickMeButton{
  color: white;
  text-align: center;
  position: fixed;
  z-index: 1;
  margin: 30rem auto;
  padding-left: 40%;
}


/*****************Homepage*********************************/
.bottom-container{
  text-align: center;
  background-color: #00303f;
  font-family: serif;
  font-size: 30px;
  color: #f5f4f4;
}
.comp{
  border-radius: 100%;
  width: 40%;
  height: 40%;
}
.contact-me{
  text-align: center;
  font-size: 1.25rem;
}
.footer-link{
  font-size: 2rem;
}
.greeting{
  border-radius: 10%;
  border-style: groove;
  background-color: #00303f;
  text-align: left;
}
.middle-container{
  width: 60%;
  margin: 0 auto;
  color: #f5f4f4;
  font-size: 1.4rem;
}
.profile{
  text-align: left;
}
.Projects{
  text-align: center;
}
.top-container{
  color: #f5f4f4;
  font-size: 2.05rem;
  line-height: 1;
  padding-top: 10px;
  position: relative;
  font-family: fantasy, serif, sans-serif;

}

#greeting{
  text-align: center;
}
#mark{
  font-size: 1rem;
}
#profilePic{
  border-radius: 150%;
  height: 31.25rem;
  width: 15.625rem;
  margin-left: 25%;

}
#namePlate{
  text-align: center;
  padding-top: 3rem;
  font-size: 4rem;
}
#title{
  text-align: center;
  color: #cdac81;
  font-size: 1.5rem;
  font-family: serif;
  font-weight: bold;
}

/* *****************Project Cards ************************ */
.projectTitle{
  color: #cdac81;
  margin-top: 4rem;
  text-align: center;
  font-size: 3rem;
}
.card{
  opacity: .90;
  background-color: #00303f;
  color: #cdac81;
  border-style: inset;
  border-color: #cdac81;
  border-width: 5px;
  border-radius: 1%;
}
.card-text{
  text-align: left;
  color: #cdac81;
}
.card-image{
  align-self: center;
  width: 90%;
}
.card-title, .card-body{
  text-align: center;
}
.card-body{

}
.projectCarousel{
  height: 62.5rem;
}
.projectCol{
  width:auto;
  height: auto;
}
.projectName{
  font-family: serif;
  font-size: 1.25rem;
}
#projectHeader{
  font-family: serif;
  text-align: center;
  font-size: 100px;
}
.owl-carousel{
  height: 50rem;
}
.owl-carousel:last-child{
  margin-top: auto;
}
.owl-drag .owl-stage{
  height: 47.5rem;
}



/******************* Resume page **********************/
.tableBackgroundStyles{
  opacity: .90;
  margin: 3.5rem auto 0 auto;
  background-color: #00303f;
  color: #cdac81;
  width: 80%;
}

.workExperience{
  background-color: #00303f;
  color: #cdac81;
  width: 100%;
  margin: 5px auto 5px auto;
}
/****************** ID Tags ************************/
