/****************** Selector Tags ************************/
body {
  position: relative;
  margin: 0;
  text-align: center;
  font-family: serif;

  background-image: url('https://il8.picdn.net/shutterstock/videos/18410146/thumb/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  padding-top: 10px;
  background-attachment: fixed;
}
div {
  margin: 0;
  padding: 0.3125rem;
}
}
header {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border-color: #cdac81;
  border-style: dotted none none none;
  border-width: 15px;
  width: 15%;
}
a {
  color: #cdac81;
  font-size: 20px;
  font-family: serif;

}
table{
  background-color: #00303f;
  color: #cdac81;
  opacity: .85;
  text-align: center;
  margin: 5px 5px;
  border: 5px;
  border-style: solid;
  table-layout:fixed;
  width: 100%;
}
td{
  border: 2.5px;
  border-style: solid;
}
th{
  text-align: center;
}
nav{
  background-color: #eeee;
  text-align: right;
}
/****************** Class Tags ************************/

.bottom-container{
  background-color: #00303f;
  font-family: serif;
  font-size: 30px;
  color: #f5f4f4;
}
.comp{
  border-radius: 100%;
  width: 40%;
  height: 40%;
}
.contact-me{
  font-size: 1.25rem;
}
.education{
  background-color: #cae4db;
  position: relative;
  color: #00303f;
  opacity: .80;
}

.middle-container{
  width: 60%;
  margin: 0 auto;
  color: #f5f4f4;
}
.NavBar{
  background-color: #00303f;
  text-align: right;
  font-family: serif;
  font-size: 1.25rem;
  right: 0;
  top: 2%;
  padding-right: 10px;
}
.profile{
  text-align: left;
}
.projectDivider{
  border-color: #cdac81;
  border-style: solid;
  width: 90%;

}
.Projects{
  text-align: center;
}
.projectName{
  font-family: serif;
  font-size: 1.25rem;
}
.projectTitle{
  margin-right: 10rem;
  text-align: center;
}
.top-container{
  color: #f5f4f4;
  font-size: 2.05rem;
  line-height: 1;
  padding-top: 10px;
  position: relative;
  font-family: fantasy, serif, sans-serif;

}
.work-experience{
  background-color: #cae4db;
  position: relative;
  color: #00303f;
  opacity: .80;

}
/****************** ID Tags ************************/
#greeting{
  margin-left: 45%;
}
#mark{
  font-size: 1rem;
}
#profilePic{
  border-radius: 150%;
  height: 250px;
  width: 125;
  float: left;
  margin-right: 20px;
}
#projectHeader{
  font-family: serif;
  text-align: center;
  font-size: 100px;
}
#title{
  color: #cdac81;
  font-size: 1.5rem;
  font-family: serif;
  font-weight: bold;
}
