/****************** Selector Tags ************************/
body {
  position: relative;
  margin: 0;
  text-align: center;
  font-family: Papyrus, cursive, serif;

  background-image: url('https://il8.picdn.net/shutterstock/videos/18410146/thumb/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  background-attachment: fixed;
}
div {
  margin: 0;
  padding: 5px;
}
h1 {
  margin: 0;
}
header {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border-color: #cdac81;
  border-style: dotted none none none;
  border-width: 15px;
  width: 15%;
}
a {
  color: #cdac81;
  font-size: 20px;
  font-family: serif;

}
/****************** Class Tags ************************/
.bottom-container{
  font-family: serif;
  font-size: 30px;
  color: #f5f4f4;
}
.certificate{
  background-color: #cae4db;
  border-radius: 15%;
  position:absolute;
  margin-left: 40%;
}
.comp{
  border-radius: 100%;
  width: 40%;
  height: 40%;
}
.contact-me{
  font-size: 20px;
}
.education{
  background-color: #cae4db;
  position: relative;
  color: #00303f;
  opacity: .80;
}

.middle-container{
  width: 60%;
  margin: 0 auto;
  color: #f5f4f4;
}
.NavBar{
  background-color: #00303f;
  text-align: right;
  font-family: serif;
  font-size: 20px;
  right: 0;
  top: 2%;
  padding-right: 10px;
}
.projectTable{
  background-color: #00303f;
  color: #cdac81;
  opacity: .85;
  text-align: left;
}
.projectName{
  font-family: serif;
  font-size: 20px;
}
.top-container{
  font-size: 35px;
  position: relative;
  color: #f5f4f4;
  padding-top: 10px;
}
.work-experience{
  background-color: #cae4db;
  position: relative;
  color: #00303f;
  opacity: .80;

}
/****************** ID Tags ************************/
#profilePic{
  border-radius: 150%;
  position: relative;
  height: 250px;
  width: 125;
}
#mark{
  font-size: 15px;
}
#projectHeader{
  font-family: serif;
  text-align: center;
  font-size: 100px;
}
#title{
  font-size: 25px;
  font-family: serif;
  color: #cdac81;
}
